.todo {
  padding: 40px 0;

  .container {
    width: 600px;
    margin: 0 auto;
  }

  .todo-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 34px;

    + .todo-item {
      border-top: 1px solid #001529;
    }

    .ant-input {
      width: 100%;
      height: 40px;
      padding-left: 0;
      border: none;
      background-color: transparent;
      text-overflow: ellipsis;
    }
  }

  .todo-list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 40px;
    border: 1px solid #001529;
  }

  .todo-list__empty {
    display: flex;
    margin: auto;
  }

  .todo-input {
    height: 50px;
    border: none;
    border-radius: 2px 2px 0 0;
    background-color: #001529;
    color: #fff;

    .ant-input:focus,
    .ant-input-focused {
      box-shadow: none;
    }

    &::placeholder {
      color: #ffffffa6;
    }
  }

  .todo-add {
    position: relative;
  }

  .todo-add__alert {
    position: absolute;
    top: -40px;
  }

  .ant-input:focus,
  .ant-input-focused {
    box-shadow: none;
  }

  .ant-checkbox-wrapper {
    position: absolute;
    z-index: 2;
    left: 0;
    display: flex;
    justify-content: center;
    width: 34px;
  }
}
